.add_task {
	align-items: center;
    width: calc(100% - 232px);
    margin: 0 0 0 auto;
    height: 100%;
	margin-top: 206px;
}
form,
.add_task h1 {
	width: 94.744%;
}
form {
	margin-top: 48px;
}
label,
input,
textarea,
select {
	font-family: 'Inter', sans-serif;
	font-size: 20px;
	font-style: normal;
	font-weight: 400;
	line-height: 120%;
}
.leftside,
.rightside {
	width: 38.994%;
	max-width: 600px;
	gap: 32px;
}
.leftside {
	border-right: 1px solid #D1D1D1;
    padding-right: 48px;
    margin-right: 48px;
}
.task-input {
	display: flex;
    flex-direction: column;
}
input, select, textarea {
	border-radius: 10px;
	border: 1px solid var(--Style, #D1D1D1);
	background: #FFF;
	padding: 12px 21px;
}
label + input,
label + textarea,
label + select,
label + .buttons {
	margin-top: 8px;
}
.task-prio .buttons {
	flex-wrap: wrap;
	gap: 16px;
}
.priority-button {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 8px;
    border-radius: 10px;
	font-size: 20px;
    background: #FFFFFF;
	border: none;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.10);
	width: 136px;
	padding: 16px 10px;
	cursor: pointer;
}
.priority-alta::after,
.priority-baia::after {
	content: '';
	width: 20px;
	height: 15px;
	margin-left: 8px;
}
.priority-alta::after {
	background-image: url(../img/prio-alta.svg);
}
.priority-medium::after {
	content: '';
	background-image: url(../img/prio-media.svg);
	width: 20px;
	height: 7px;
}
.priority-baia::after {
	background-image: url(../img/prio-baia.svg);
}
.priority-alta.alta::after {
	background-image: url(../img/prio-alta-white.svg);
}
.priority-medium.medium::after {
	content: '';
	background-image: url(../img/prio-media-white.svg);
	width: 20px;
	height: 7px;
}
.priority-baia.baia::after {
	background-image: url(../img/prio-baia-white.svg);
}
.alta {
	background-color: red;
	color: #FFFFFF;
}
.medium {
	background-color: #FFA800;
	color: #FFFFFF;
}
.baia {
	background-color: green;
	color: #FFFFFF;
}
.task-assigned-to,
.task-category {
	height: 80px;
}
.contacts-list,
.categories-list,
.subtasks-list {
	position: relative;
}
.contacts-list,
.categories-list {
	display: none;
}
.contacts-list.active,
.categories-list.active {
	display: block;
}
.list-item,
.list-item-category,
.list-item-subtasks {
	position: absolute;
    background-color: #FFFFFF;
    width: 100%;
    max-height: 150px;
    overflow: auto;
	z-index: 3;
}
.list-item-subtasks {
	background-color: transparent;
	width: 93%;
}
#added-contacts {
	margin-top: 8px;
}
.item,
.item-category {
	margin: 16px;
	cursor: pointer;
}
.circle {
	display: flex;
	justify-content: center;
	align-items: center;
	color: #FFFFFF;
	width: 42px;
	height: 42px;
	border-radius: 50%;
	background-color: black;
	margin-right: 16px;
}
.name {
	flex-grow: 1;
}
.checkbox {
	margin-left: auto;
}
.task-assigned-to,
.task-category,
.task-subtasks {
	position: relative;
}
.dropdown,
.subtasks-plus {
	display: flex;
	width: 24px;
	height: 24px;
	position: absolute;
	right: 12px;
    top: 56%;
	cursor: pointer;
}
.task-subtasks .image-click {
    height: 24px;
    position: absolute;
    right: 12px;
    top: 56%;
	gap: 4px;
	cursor: pointer;
}
.task-subtasks .subtasks-clear {
	border-right: 1px solid #D1D1D1;
	padding-right: 4px;
}
.edit-delete-icons {
	position: relative;
	z-index: 3;
	cursor: pointer;
}
.buttons-bottom {
	display: flex;
    justify-content: flex-end;
	margin-top: 146px;
	margin-right: 14.5%;
	gap: 16px;
}
.button1 {
	display: flex;
    align-items: center;
    padding: 15px 24px;
    border-radius: 8px;
	background-color: #FFFFFF;
    color: #2A3647;
	border: 1px solid #2A3647;
    height: 48px;
    line-height: 10px;
    font-size: 21px;
}
.button1::after {
	display: flex;
	content: '';
	background-image: url(../img/clear.svg);
	width: 24px;
	height: 24px;
	margin-left: 4px;
}
.button2 {
	display: flex;
    align-items: center;
    padding: 15px 24px;
    border-radius: 8px;
    background-color: #2A3647;
    color: white;
    height: 48px;
    line-height: 10px;
    font-size: 21px;
}
.button2::after {
	display: flex;
	content: '';
	background-image: url(../img/check.svg);
	width: 24px;
	height: 24px;
	margin-left: 4px;
}

.success-lightbox {
    position: fixed;
    top: 0;
    left: 0;
	z-index: -1;
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: none;
    transition: all 0.5s ease-in-out;
}
.success {
    height: 100%;
    transform: translateY(100%);
    transition: all 0.5s ease-in-out;
}
.success button {
    display: flex;
	align-items: center;
    padding: 15px 24px;
    border-radius: 8px;
    background-color: #2A3647;
    color: white;
    height: 48px;
    line-height: 10px;
    font-size: 21px;
}
.success button::after {
	display: flex;
	content: '';
	background-image: url(../img/board.svg);
	background-size: cover;
	width: 24px;
	height: 24px;
	margin-left: 16px;
}

@media screen and (max-width: 1000px) {
	.form-container {
		flex-direction: column;
	}
	.leftside, .rightside {
		width: 100%;
	}
	.leftside {
		border: none;
	}
	.rightside {
		margin-top: 32px;
	}
}