body {
	background-color: #F6F7F8;
	height: 100vh;
}
.add_task {
	align-items: center;
    justify-content: center;
    width: calc(100% - 232px);
    margin: 0 0 0 auto;
    height: 100%;
}
form {
	width: 94.744%;
}
.leftside,
.rightside {
	width: 440px;
	gap: 16px;
}
.leftside {
	border-right: 1px solid #D1D1D1;
    padding-right: 48px;
    margin-right: 48px;
}
.task-input {
	display: flex;
    flex-direction: column;
}
input, select, textarea {
	border-radius: 10px;
	border: 1px solid var(--Style, #D1D1D1);
	background: #FFF;
	padding: 12px 21px;
}
label + input,
label + textarea,
label + select,
label + .buttons {
	margin-top: 8px;
}
.priority-button {
	display: flex;
	justify-content: center;
    border-radius: 10px;
    background: #FFFFFF;
	border: none;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.10);
	width: 136px;
	padding: 16px 10px;
}
.priority-medium {
	background-color: #FFA800;
	color: #FFFFFF;
}
.priority-alta::after,
.priority-baia::after {
	content: '';
	width: 20px;
	height: 15px;
	margin-left: 8px;
}
.priority-alta::after,
.priority-baia::after {
	background-image: url(../img/prio-alta.svg);
}
.priority-medium::after {
	content: '';
	background-image: url(../img/prio-media.svg);
	width: 20px;
	height: 7px;
}
.priority-baia::after {
	background-image: url(../img/prio-baia.svg);
}
.task-assigned-to {
	overflow: hidden;
}
.contacts-list {
	position: relative;
    height: 180px;
}
.list-item {
	position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
	display: none;
    overflow-y: scroll;
}
.item {
	margin: 16px;
}
.circle {
	display: flex;
	justify-content: center;
	align-items: center;
	color: #FFFFFF;
	width: 42px;
	height: 42px;
	border-radius: 50%;
	background-color: black;
	margin-right: 16px;
}
.name {
	flex-grow: 1;
}
.checkbox {
	margin-left: auto;
}