body {
	background-color: #F6F7F8;
	height: 100vh;
}
.block {
	display: block;
}
.d-none {
	display: none;
}
h1 {
	font-size: 61px;
	margin: 0;
}

.add_task {
	align-items: center;
    justify-content: center;
    width: calc(100% - 232px);
    margin: 0 0 0 auto;
    height: 100%;
}
form,
.add_task h1 {
	width: 94.744%;
}
form {
	margin-top: 48px;
}
label,
input,
textarea,
select {
	font-family: 'Inter', sans-serif;
	font-size: 20px;
	font-style: normal;
	font-weight: 400;
	line-height: 120%;
}
.leftside,
.rightside {
	width: 440px;
	gap: 32px;
}
.leftside {
	border-right: 1px solid #D1D1D1;
    padding-right: 48px;
    margin-right: 48px;
}
.task-input {
	display: flex;
    flex-direction: column;
}
input, select, textarea {
	border-radius: 10px;
	border: 1px solid var(--Style, #D1D1D1);
	background: #FFF;
	padding: 12px 21px;
}
label + input,
label + textarea,
label + select,
label + .buttons {
	margin-top: 8px;
}
.priority-button {
	display: flex;
	justify-content: center;
    border-radius: 10px;
    background: #FFFFFF;
	border: none;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.10);
	width: 136px;
	padding: 16px 10px;
}
.priority-medium {
	background-color: #FFA800;
	color: #FFFFFF;
}
.priority-alta::after,
.priority-baia::after {
	content: '';
	width: 20px;
	height: 15px;
	margin-left: 8px;
}
.priority-alta::after,
.priority-baia::after {
	background-image: url(../img/prio-alta.svg);
}
.priority-medium::after {
	content: '';
	background-image: url(../img/prio-media.svg);
	width: 20px;
	height: 7px;
}
.priority-baia::after {
	background-image: url(../img/prio-baia.svg);
}
.task-assigned-to,
.task-category {
	height: 80px;
}
.contacts-list,
.categories-list {
	position: relative;
}
.list-item,
.list-item-category {
	position: absolute;
    background-color: #FFFFFF;
    width: 100%;
    max-height: 150px;
    overflow: auto;
}
#added-contacts {
	margin-top: 8px;
}
.item,
.item-category {
	margin: 16px;
	cursor: pointer;
}
.circle {
	display: flex;
	justify-content: center;
	align-items: center;
	color: #FFFFFF;
	width: 42px;
	height: 42px;
	border-radius: 50%;
	background-color: black;
	margin-right: 16px;
}
.name {
	flex-grow: 1;
}
.checkbox {
	margin-left: auto;
}
.buttons-bottom {
	margin-top: 146px;
}
.button  {
    padding: 15px 24px;
    border-radius: 8px;
    background-color: #2A3647;
    color: white;
    height: 48px;
    line-height: 10px;
    font-size: 21px;
    margin-bottom: 40px;
}