body {
    margin: 0;
    background-color: #F6F7F8;
}

.flex{
    display: flex;
}

.flex-wrap{
    flex-wrap: wrap;
}

.space-between{
    justify-content: space-between;
}

.justify-center{
    justify-content: center;
}

.align-center{
    align-items: center;
}

.flex-row{
    flex-direction: row;
}

#contacts{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

#content{
    padding-top: 96px;
    height: 100vh;
    position: fixed;
    width: 100vw;
    
}

#contactlist {
    align-items: start;
    overflow-y:scroll;      
    position:fixed;
    height:100%;
    width: 472px;
    margin-left: 232px;
}

#contact-btn-div{
    height: 100px;
    margin-left: 232px;
    top: 200px;
    border: 2px solid #b22c2c;       /* change ----- dient nur zur div-scaling orientierung*/ 
    padding: 22.5px 52px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 352px;
}

#contact-btn{
    background-color: #2A3647;
    gap: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    border-radius: 10px;
    border: 1px solid #2A3647;
    font-size: larger;
    height: 56px;
    width: 352px;

}

#contactcard-container{
    display: flex;
    align-items: center;
    gap: 32px;
}
    
#cyrcle-contact{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: rgb(86, 86, 86);
    border: 2px solid white;
}

#single-contact{
    background-color: rgb(225, 225, 225);
    width: 100%;
    
}

#contact-details{
    height: 78px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

#contact-email{
    color: rgba(0, 124, 238, 1);
}