body {
    margin: 0;
    background-color: #F6F7F8;
}

#maincontainer{
    margin-top: 96px;
    margin-left: 232px;
    height: 100vh;
    position: fixed;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: left;
    flex-direction: row;
}

#conatiner-left{
    height: 100vh;
    width: 456px;
}

#container-right{
    height: 100vh;
    width: 100%;
}

#top-content-container-right{

}

#container-right-content{
    height: 100vh;
}

#contacts{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#contactlist{
    align-items: start;
    overflow-y:scroll;  
    position:fixed;
    height: 80vh;
    width: 408px;
    padding-left:24px;
    padding-right: 24px;
    padding-top: 32px;
    padding-bottom: 32px;
}

#contactcard-container{
    height: 42px;
    display: flex;
    justify-content: center;
    gap: 35px;
    align-items: center;
    flex-direction: row;
    margin-top: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
}

#contactcard-container:hover{
    background-color: #2A3647;
    border-radius: 8px;
    cursor: pointer;
    color: white;
}

#contact-overlay{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}

#contact-btn-div{
    height: 100px;
    top: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 456px;
}

#container-alphabet{
    display: flex;
    align-items: center;
    padding-left: 32px;
}

#alphabet-tab{
    display: flex;
    align-items: center;
    height: 58px;
    border-bottom: 1px solid black;
    width: 100%;
    padding-left:20px;
    
}


#contact-btn{
    background-color: #2A3647;
    gap: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    border-radius: 10px;
    border: 1px solid #2A3647;
    font-size: larger;
    height: 56px;
    width: 352px;
}


#contact-cyrcle{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: rgb(86, 86, 86);
    border: 2px solid white;
}

#single-contact{
    background-color: rgb(225, 225, 225);
    width: 100%;
    
}



#contact-email{
    color: rgba(0, 124, 238, 1);
}
