body {
    margin: 0;
    background-color: #F6F7F8;
}

#editing-overlay{
    background-color: #1d2b3f;
    width: 1212px;
    height: 592px;
    position: absolute;
    z-index: 1;
    border-radius: 20px;
    right: 150px;
    top: 300px;
}
/* here begins the edit contact overlay*/ 
#edit{
    background-color: #aab6c7;
    width: 1212px;
    height: 592px;
    position: absolute;
    z-index: 1;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
}

#editing-div-leftside{
    z-index: 1;
    height: 592px;
    border-radius: 20px 0px 0px 20px;
    background-color: #33435a;
    z-index: 1;
    width: 453px;
}

#editing-div-rightside{
    z-index: 1;
    height: 589px;
    width: 100%;
    background-color: #ffffff;
    border: 2px solid black;
    border-radius: 0px 20px 20px 0px;
}

#edit-overlay-logo{
    background-image: url(/img/sidebar_logo.png);
    height: 200px;
    background-repeat: no-repeat;
    background-position: left;
    margin-left: 46px;
    margin-top: 50px;
}

#edit-overlay-heading{
    background-position: left;
    color: white;
    font-size: 61px;
    width: 361px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-left: 46px;
    margin-right: 46px;
}

#vector5{
    position: relative;
    right: 130px;
}

#close-edit{
    display: flex;
    position: absolute;
    top: 32px;
    right: 32px;
    width: 24px;
    height: 24px;
    justify-content: right;
    font-size: medium;
    color: grey;
    background-image: url(/img/close.png);
    background-repeat: no-repeat;
}

#close-edit:hover{
    cursor: pointer;
}

#cyrcle-and-inputs-div{
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 100%;
    background-color: #ffffff;
    height: 100%;
    gap: 50px;
    border-radius: 0px 20px 20px 0px;
}

#cyrcle-and-inputs-div button{
    border-radius: 10px;
    border: 1px solid rgba(42, 54, 71, 1);

}

#cyrcle-and-inputs-div button:hover{
    cursor: pointer;
}

#save-delete-div{
    margin-top: 32px;
    width: 249px;
    height: 59px;
    display: flex;
    gap: 24px;
    justify-content: center;
}

#delete-btn-edit{
    width: 113px;
    height: 57px;
    font-size: 21px;
    font-weight: 400;
}

#save-btn-div{
    width: 111px;
    background-color: rgba(42, 54, 71, 1);
    height: 57px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}

#check-icon{
    height: 16px;
    width: 16px;
}

#save-btn-edit{
    height: 57px;
    font-size: 21px;
    font-weight: 400;
    background-color: rgba(42, 54, 71, 1);
    color: white;
}

/* here begins the add contact overlay*/ 

#new-contact-overlay-heading{
    background-position: left;
    color: white;
    font-size: 61px;
    width: 361px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 46px;
    margin-right: 46px;
}


#new-name-input{
    height: 50px;
    border: 1px solid grey;
    border-radius: 10px;
    font-size: 20px;
    padding-left: 20px;
}

#new-mail-input{
    height: 50px;
    border: 1px solid grey;
    border-radius: 10px;
    font-size: 20px;
    padding-left: 20px; 
}

#new-phone-input{
    height: 50px;
    border: 1px solid grey;
    border-radius: 10px;
    font-size: 20px;
    padding-left: 20px;
}
















#maincontainer{
    margin-top: 96px;
    margin-left: 232px;
    position: fixed;
    display: flex;
    justify-content: center;
    flex-direction: row;
}

#conatiner-left{
    height: 100vh;
    width: 456px;
}

#container-right{
    height: 100%;
    margin-left: 94px;
}

#top-content-container-right{
    display: flex;
    flex-direction: row;
    width: 570px;
    margin-top: 100px;
}

#heading-div-static{
    border-right: 3px solid #29ABE2;
    height: 59px;
    font-size: 61px;
    font-style: normal;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 30px;
}

#text-div-static{
    font-weight: 400;
    margin-left: 30px;
    display: flex;
    align-items: center;
    font-size: 27px;
    
}

#overlay-top-container{
    height: 200px;
    width: 100vw;
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 32px;
}

#contact-cyrcle-overlay{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
    width: 120px;
    border-radius: 50%;
    background-color: rgb(86, 86, 86);
    color: white;
    font-size: 44px;
    font-weight: 500;
}

#contact-name-overlay{
    font-size: 47px;
}

#edit-cyrcle{
    margin-left: 48px;
}

#edit-delete-div{
    display: flex;
    justify-content: left;
    align-items: center;
    flex-direction: row;
    gap: 16px;
    margin-top: 8px;
}

#edit-div{
    background-image: url(/img/edit.png);
    background-position: left;
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: left;
    background-position-y: center;
    font-family: Inter;
    font-size: 16px;
    padding-left: 32px;
}

#edit-div:hover{
    cursor: pointer;
}

#delete-div{
    background-image: url(/img/delete.svg);
    background-position: left;
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: left;
    background-position-y: center;
    font-family: Inter;
    font-size: 16px;
    padding-left: 30px;
}

#edit-inputs{
    display: flex;
    flex-direction: column;
    gap: 32px;
    width: 422px;
}

#edit-input-name{
    height: 50px;
    border: 1px solid grey;
    border-radius: 10px;
    font-size: 20px;
    padding-left: 20px;
}

#edit-input-mail{
    height: 50px;
    border: 1px solid grey;
    border-radius: 10px;
    font-size: 20px;
    padding-left: 20px;
}

#edit-input-number{
    height: 50px;
    border: 1px solid grey;
    border-radius: 10px;
    font-size: 20px;
    padding-left: 20px;
}

#heading-contact-information{
    font-size: 20px;
    width: 207px;
    height: 74px;
    display: flex;
    align-items: center;
}

#delete-div:hover{
    cursor: pointer;
}

#overlay-bottom-container{
    display: flex;
    flex-direction: column;
    gap: 22px;
    margin-top: 21px;
}

#contact-email-overlay{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 15px;
}

#email-div{
    color: #007CEE;
}

#contact-telefon-overlay{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 15px;
}



#contactlist{
    align-items: start;
    overflow-y:scroll;  
    position:fixed;
    height: 78%;
    width: 408px;
    padding-left:24px;
    padding-right: 24px;
    padding-top: 32px;
    padding-bottom: 32px;
}

#contactcard-container{
    height: 42px;
    display: flex;
    gap: 35px;
    align-items: center;
    flex-direction: row;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-top: 8px;
    width: 364px;
    padding-left: 24px;
}

#contactcard-container:hover{
    background-color: #2A3647;
    border-radius: 8px;
    cursor: pointer;
    color: white;
}

#contact-overlay{
    width: 100vw;
}

#contact-btn-div{
    height: 100px;
    top: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 456px;
}

#contact-btn{
    background-color: #2A3647;
    gap: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    border-radius: 10px;
    border: 1px solid #2A3647;
    font-size: larger;
    height: 56px;
    width: 352px;
}

#contact-btn:hover{
    cursor: pointer;
}

#container-alphabet{
    display: flex;
    align-items: center;
    width: 100%;
    height: 58px;
}

#alphabet-tab{
    display: flex;
    align-items: center;
    height: 24px;
    border-bottom: 1px solid rgba(209, 209, 209, 1);
    width: 352px;
    padding-left: 36px;
    padding-top: 17px ;
    padding-bottom: 17px;
    font-size: 20px;
    font-weight: 400;
}

#contact-cyrcle{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 42px;
    width: 42px;
    border-radius: 50%;
    background-color: rgb(86, 86, 86);
    color: white;
}

#single-contact{
    background-color: rgb(225, 225, 225);
    width: 100%;
}

.d-none{
    display: none;
}

