.flex {
    display: flex;
}
.align-center {
    align-items: center;
}
.space-between {
    justify-content: space-between;
}
.flex-column {
    display: flex;
    flex-direction: column;
}
p {
    margin: 0;
}

body {
    margin: 0;
}
#header {
    height: 96px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.10);
    position: fixed;
    width: 100vw;
}
#header-left {
    margin-left: 24.166%;
}

#header-right {
    margin-right: 40px;
    gap: 16px;
}
#cycle-name{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 50%;
    min-height: 56px;
    min-width: 56px;
    border: 3px solid #2A3647;
}
#cycle-name p {
    color: #29ABE2;
    font-weight: 700;
}

@media (max-width:600px) {
    #header-right{
        margin-right: 10px;
        margin-left: 10px;
    }
}

