#sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    position: fixed;
    left: 0;
    top: 0;
    width: 232px;
    background-color: #2A3647;
    height: 100vh;
}
#sidebar a {
    text-decoration: none;
}
.logo-sidebar {
    height: 120px;
    width: 100px;
}
.side-menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 15px;
}
.navi {
    display: flex;
    align-items: center;
    color: #FFFFFF;
    gap: 8px;
    padding: 8px 0 8px 56px;
}
.navi:hover {
    background-color: #091931;
}
.privacy-text {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    width: 100%;
    gap: 20px;
    height: 317px;
    margin-top: 200px;
}
.info-text {
    color: #A8A8A8;
    padding-left: 56px;
}
