body {
    background-color: #F6F7F8;
    ;
}

#header{
    top: 0px;
}

#main-container{
    margin-top: 96px;
    margin-left: 232px;
}

#heading-container{
    display: flex;
    align-items: center;
    padding-top: 110px;
    margin-left: 96px;
}

#heading-summary{
    font-size: 61px;
    font-weight: 700;
    margin-right: 30px;
}

#text-summary{
    margin-left: 32px;
    font-size: 27px;
    font-weight: 400;
}
.main-box {
    display: flex;
    flex-direction: column;
    gap: 28px;
    margin-top: 56px;
    margin-left: 96px;
    width: 560px;
}
.box-top,
.box-middle,
.box-bottom {
    display: flex;
    justify-content: space-between;
}
.inner-box-text {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #FFFFFF;
    border-radius: 30px;
    height: 168px;
}
.todo, .done {
    width: 264px;
}
.urgent {
    width: 560px;
}
.tasks-in-board, .tasks-in-progress, .awaiting-feedback {
    width: 168px;
}
.box.urgent {
    flex-direction: row;
}